body {
    background-image: linear-gradient(to left, rgb(89 135 237), rgb(26 223 243), #7371ef);
    direction: ltr;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

#signup-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#signup-form {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    height: 870px;
    border-radius: 15px;
    width: 635px;
    justify-content: flex-start;
    align-items: center;
    box-shadow: #195d87 0px 0 90px 0px;
    padding: 20px;
    box-sizing: border-box;
}

#signup-form form {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.form-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

#logo {
    margin-top: 20px;
    margin-left: 25px;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: "Orbitron", serif;
    text-shadow: 1px 2px 3px darkgrey;
    font-weight: 500;
    color: rgb(9, 82, 150);
    font-size: 45px;
}

input, select, #submit {
    border: solid 0.2px black;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
    border-radius: 8px;
    box-shadow: grey 1px 2px 8px -3px;
    box-sizing: border-box;
    padding: 8px;
    flex: 0 0 auto;
    max-height: 40px;
}

#heading {
    font-size: 39px;
    font-weight: 700;
    font-family: "Zain", sans-serif;
    align-items: flex-start;
    width: 100%;
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 0px;
    color: black;
}

.labeled-input-container {
    display: flex;
    align-items: center;
    width: 100%;
}

#phone {
    width: calc(100% - 30px);
    box-sizing: border-box;
}

#date {
    width: calc(100% - 82px);
    box-sizing: border-box;
}

#lphone, #ldate {
    font-family: system-ui;
    font-size: 13px;
    font-weight: 500;
    margin-right: 5px;
    flex: 0 0 auto;
}

#submit {
    background: #0072ff;
    color: aliceblue;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    font-family: "Zain", sans-serif;
    text-decoration: none;
    border: none;
    flex: 0 0 auto;
}

#submit:hover {
    cursor: pointer;
    background-image: linear-gradient(to left, rgb(40, 230, 154), rgb(124, 50, 243));
}

.name-row {
    display: flex;
    gap: 10px;
    width: 100%;
}

.name-row input {
    flex: 1;
    max-height: 40px;
}

select {
    appearance: none;
    padding-left: 8px;
}

select:focus {
    outline: none;
    border-color: rgb(89, 135, 237);
}

option {
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px;
}